.navbar-brand {
  font-family: 'Bungee', cursive;
  font-size: 22px;
  padding: 15px;
}

.jumbotron {
  width: 100%;
  height: auto;
  padding: 5px;
  font-family: 'Bungee', cursive;
  color: white;
  text-shadow: 3px 2px 5px black;
}

#camping {
  background-image:url('../img/forest.jpg');
  border: 3px solid black;
}



#cosmos {
  background-image:url('../img/stars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid black;
}

#movies {
  background-image:url('../img/movies.jpg');
  background-size: contain;
  border: 3px solid black;
}
