
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.navbar-brand {
  font-family: 'Bungee', cursive;
  font-size: 22px;
  padding: 15px;
}

.jumbotron {
  width: 100%;
  height: auto;
  padding: 5px;
  font-family: 'Bungee', cursive;
  color: white;
  text-shadow: 3px 2px 5px black;
}

#camping {
  background-image:url('../img/forest.jpg');
  border: 3px solid black;
}

#camping:hover {
  opacity: 0.5;
}

#cosmos {
  background-image:url('../img/stars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid black;
}

#cosmos:hover {
  opacity: 0.5;
}

#movies {
  background-image:url('../img/movies.jpg');
  background-size: contain;
  border: 3px solid black;
}

#movies:hover {
  opacity: 0.5;
}
